---
import Code from "../icons/Code.astro";

interface Props {
  title: string;
  description: string;
  gitHubUrl: string | undefined;
  tecnologies: { name: string; url: string }[] | undefined;
  image: string;
  height: number | undefined;
}

const {
  title,
  description,
  gitHubUrl = "https://github.com/javiergg13",
  tecnologies,
  image,
  height = 150,
} = Astro.props;

import { getI18N } from "../i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="card" style=`height: ${height}px;`>
  <header>
    <h2>{title}</h2>
    <a target="_blank" title={i18n.CARD_LINK_TITLE} href={gitHubUrl}><Code /></a
    >
  </header>
  <div class="card-body">
    <span class="description">{description}</span>
    <img
      id="image"
      title="Spotify Clone"
      src={image}
      alt="Spotify Clone"
      onclick=""
    />
  </div>
  <footer>
    {tecnologies?.map((tecnology) => <span>{tecnology.name}</span>)}
  </footer>
</div>

<style>
  .card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px black;
    background-color: rgba(50, 50, 50, 0.8);

    transition-property: scale;
    transition-duration: 0.3s;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  img:hover {
    scale: 1.05;
  }
  img {
    width: 40%;
    border-radius: 5px;

    transition-property: all;
    transition-duration: 0.3s;

    cursor: pointer;
  }
  .card-body {
    display: flex;
    align-items: center;
    opacity: 0.8;
  }
  a {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  a:hover {
    background-color: rgba(40, 40, 40, 0.8);
  }
  h2 {
    margin: 0;
    background-image: linear-gradient(rgb(255, 136, 0), rgb(251, 255, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  .description {
    text-wrap: balance;
    padding-left: 15px;
  }
  @media (max-width: 730px) {
    .card-body {
      max-width: 80%;
      flex-direction: column;
    }
  }
  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    object-fit: contain;
    background-color: black;
    padding: 8%;
  }
  .fullscreen:hover {
    scale: 1;
  }
</style>

<script>
  // Find all buttons with the `alert` class on the page.
  const image = document.getElementById("image");

  // Handle clicks on each button.

  image?.addEventListener("click", () => {
    image.classList.toggle("fullscreen");
  });
</script>
