---
import Code from "../icons/Code.astro";

interface Props {
  title: string;
  description: string;
  gitHubUrl: string | undefined;
  tecnologies: { name: string; url: string }[] | undefined;
  image: string;
  height: number | undefined;
}

const {
  title,
  description,
  gitHubUrl = "https://github.com/javiergg13",
  tecnologies,
  image,
  height = 150,
} = Astro.props;
---

<div class="card-body" style=`height: ${height}px;`>
  <header>
    <h2>{title}</h2>
    <a target="_blank" title="Ver código en GitHub" href={gitHubUrl}><Code /></a
    >
  </header>
  <span>{description}</span>
  <footer>
    {tecnologies?.map((tecnology) => <span>{tecnology.name}</span>)}
  </footer>
</div>

<style>
  .card-body {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px black;
    background-color: rgba(50, 50, 50, 0.8);

    transition-property: scale;
    transition-duration: 0.3s;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  .card-body:hover {
    scale: 1.05;
  }
  a {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  a:hover {
    background-color: rgba(40, 40, 40, 0.8);
  }
  h2 {
    margin: 0;
    background-image: linear-gradient(rgb(255, 136, 0), rgb(251, 255, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  span {
    text-wrap: balance;
  }
</style>
