---
import Mail from "../icons/Mail.astro";
import MailForward from "../icons/MailForward.astro";
import Phone from "../icons/Phone.astro";

import { getI18N } from "../i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id="Contacto">
  <h2><Mail /> {i18n.CONTACT_TITLE}</h2>
  <form action="/" method="post">
    <fieldset>
      <legend>&nbsp;{i18n.CONTACT_FIELDSET_TITLE_1}&nbsp;</legend>
      <label>{i18n.CONTACT_FIELDSET_LABEL_1}Javier Guerrero Gallo</label>
      <label>{i18n.CONTACT_FIELDSET_LABEL_2}13 de Abril del 2000</label>
      <label>{i18n.CONTACT_FIELDSET_LABEL_3}guerrerogallojavier@gmail.com</label
      >
    </fieldset>

    <fieldset>
      <legend>&nbsp;{i18n.CONTACT_FIELDSET_TITLE_2}&nbsp;</legend>
      <label>{i18n.CONTACT_FIELDSET_ADITIONAL_LABEL_1}+34 674 774 983</label>
      <label
        >{i18n.CONTACT_FIELDSET_ADITIONAL_LABEL_2}Pola de Laviana, Asturias,
        España</label
      >
    </fieldset>
    <div class="actions">
      <a href="mailto:guerrerogallojavier@gmail.com"
        >{i18n.CONTACT_ACTIONS_TITLE_1} <MailForward /></a
      >
      <a href="tel:+34674774983">{i18n.CONTACT_ACTIONS_TITLE_2} <Phone /></a>
    </div>
  </form>
</section>

<style>
  #Contacto {
    padding-top: 100px;
  }
  form {
    padding-left: 30px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    opacity: 0.85;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    border-width: medium;
  }
  label {
    margin: 10px;
  }
  a {
    padding: 5px 10px;
    display: flex;
    gap: 8px;
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  @media (max-width: 800px) {
    form {
      padding-left: 0;
    }
  }
</style>
