---
import HalfStar from "../icons/HalfStar.astro";
import Card from "./Card.astro";

const projects = [
  {
    title: "Spotify Clone",
    description:
      "Un clon de la página web de spotify, utilizando Astro con React y Svelte para darle interactividad y Tailwind para los estilos.",
    tecnologies: [
      {
        name: "Astro",
        url: "url",
      },
      {
        name: "React",
        url: "url",
      },
      {
        name: "Svelte",
        url: "url",
      },
      {
        name: "Tailwind",
        url: "url",
      },
    ],
    image: "hrl",
    gitHubUrl: "https://github.com/javiergg13/spotify-clone",
    height: 250,
  },
  {
    title: "Prueba 2",
    description: "description",
    image: "hrl",
  },
  {
    title: "Prueba 3",
    description: "description",
    image: "hrl",
  },
  {
    title: "Prueba 4",
    description: "description",
    image: "hrl",
  },
  {
    title: "Prueba 5",
    description: "description",
    image: "hrl",
  },
];
---

<section id="Proyectos">
  <h1>Proyectos &nbsp;<HalfStar /></h1>
  <div class="proyectos-body">
    {
      projects.map((project) => (
        <Card
          gitHubUrl={project.gitHubUrl}
          title={project.title}
          description={project.description}
          tecnologies={project.tecnologies}
          height={project?.height}
          image={project.image}
        />
      ))
    }
  </div>
</section>

<style>
  #Proyectos {
    padding-top: 100px;
  }
  .proyectos-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    margin-top: 35px;
  }
  .proyectos-body div {
    display: grid;
    place-content: center;

    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px black;

    transition-property: scale;
    transition-duration: 0.3s;

    height: 150px;
  }
  .proyectos-body div:hover {
    scale: 1.05;
  }
</style>
