---
import Drive from "../icons/Drive.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";

import { getI18N } from "../i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id="SobreMi">
  <div>
    <h1>
      {i18n.ABOUT_ME_TITLE}<span class="text-gradient"
        >{i18n.ABOUT_ME_TITLE_2}</span
      >
    </h1>
    <p class="subtitle">
      <strong>{i18n.ABOUT_ME_DESCRIPTION_1}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_2
      }<strong>{i18n.ABOUT_ME_DESCRIPTION_3}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_4
      }<strong>{i18n.ABOUT_ME_DESCRIPTION_5}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_6
      }<strong>{i18n.ABOUT_ME_DESCRIPTION_7}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_8
      }<strong>{i18n.ABOUT_ME_DESCRIPTION_9}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_10
      }<strong>{i18n.ABOUT_ME_DESCRIPTION_11}</strong>{
        i18n.ABOUT_ME_DESCRIPTION_12
      }
    </p>
    <section class="socials">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/javier-guerrero-gallo-3989b9228/"
        ><LinkedIn /><span> LinkedIn</span></a
      >
      <a class="github" target="_blank" href="https://github.com/javiergg13"
        ><GitHub /><span> GitHub</span></a
      >
      <a
        class="drive"
        target="_blank"
        href="https://drive.google.com/file/d/1-dL63MY1Hp_ZtjR8aTFoV46pqRCNB3lw/view?usp=sharing"
        ><Drive /><span> {i18n.ABOUT_ME_CV}</span></a
      >
    </section>
  </div>
  <div class="img-container">
    <img
      title="Javier Guerrero"
      src="/imgs/javiGuerrero.jpg"
      alt={i18n.ABOUT_ME_IMAGE_DESCRIPTION}
    />
  </div>
</section>

<style>
  .socials {
    display: flex;
    gap: 40px;
    margin-top: 32px;
    margin-left: -5px;
  }
  .socials a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .subtitle {
    font-size: 18px;
    text-wrap: pretty;
    line-height: 1.4;
    opacity: 0.85;
  }
  a span {
    opacity: 0.85;
  }
  .subtitle strong {
    background-image: linear-gradient(rgb(255, 238, 0), rgb(252, 246, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #SobreMi {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
    gap: 58px;
    padding-top: 100px;
  }
  img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    margin-left: 15px;
    max-width: fit-content;
  }
  .text-gradient {
    background-image: linear-gradient(rgb(255, 136, 0), rgb(251, 255, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 725px) {
    img {
      display: none;
    }
    #SobreMi {
      padding-top: 50px;

      display: block;
    }
    .socials {
      font-size: 13px;
    }
  }
</style>
